@import 'tailwindcss';

@theme {
  --background-color-page: var(--bg-page);

  --text-color-neutral: var(--fg-neutral);
  --text-color-neutral-softer: var(--fg-neutral-softer);

  --default-font-family: var(--font-body), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --bg-page: var(--color-gray-100);
  --fg-neutral: var(--color-gray-900);
  --fg-neutral-softer: var(--color-gray-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-page: var(--color-gray-900);
    --fg-neutral: var(--color-gray-100);
    --fg-neutral-softer: var(--color-gray-500);
  }
}

* {
  @apply leading-8 focus-visible:outline-none;
}

html {
  @apply h-full scroll-pt-4 scroll-smooth;
}

body {
  @apply bg-page text-neutral h-full break-words antialiased;
}
