@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-fade-foreground: var(--fade-foreground);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border);
    --color-ring: var(--ring);
    --font-body: var(--font-inter);
    --font-heading: var(--font-array);
}

:root {
    --background: oklch(0.9729 0.0013 106.42);
    --foreground: oklch(0 0 0 / 75%);
    --fade-foreground: oklch(0 0 0 / 50%);
    --muted-foreground: oklch(0 0 0 / 25%);
    --border: oklch(0 0 0 / 5%);
    --ring: oklch(0 0 0);
}

.dark {
    --background: oklch(0.1448 0 0);
    --foreground: oklch(1 0 0 / 75%);
    --fade-foreground: oklch(1 0 0 / 75%);
    --muted-foreground: oklch(1 0 0 / 25%);
    --border: oklch(1 0 0 / 5%);
    --ring: oklch(1 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    html {
        @apply font-body;
    }
}
