@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-fade-foreground: var(--fade-foreground);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border);
    --color-ring: var(--ring);
    --font-body: var(--font-inter);
    --font-heading: var(--font-array);
}

:root {
    --background: oklch(0.9729 0.0013 106.42);
    --foreground: oklch(0.2 0 0 / 85%);
    --fade-foreground: oklch(0.2 0 0 / 65%);
    --muted-foreground: oklch(0.2 0 0 / 45%);
    --border: oklch(0.2 0 0 / 10%);
    --ring: oklch(0.2 0 0 / 70%);
}

.dark {
    --background: oklch(0.1448 0 0);
    --foreground: oklch(0.98 0 0 / 82%);
    --fade-foreground: oklch(0.98 0 0 / 64%);
    --muted-foreground: oklch(0.98 0 0 / 38%);
    --border: oklch(0.98 0 0 / 8%);
    --ring: oklch(0.98 0 0 / 70%);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }

    html {
        color-scheme: light;
    }

    html.dark {
        color-scheme: dark;
    }
    html {
        @apply font-body;
    }
}
